DOCKER_IMAGE=mysql:8.0
CONTAINER_NAME=firstcommit_db

DB_HOST=localhost
MYSQL_DATABASE=firstcommit_db
MYSQL_USER=tu_usuario_aqui
MYSQL_ROOT_PASSWORD=tu_password_root_aqui
MYSQL_PASSWORD=tu_password_usuario_aqui

DB_PORT_INTERNAL=3306
DB_PORT_EXTERNAL=3310